.banner{
	padding: 4% 0;
	background: #21aacc;
	.home{
		position: relative;
    	text-align: center;
    	margin-top: 1.5em;
    	.cell{
    		max-width: 35em;
    		margin: auto;
    	}
    	h1{
    		color: #fff;
    		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    		font-weight: 700;
    		font-family: "Open Sans", Helvetica, Arial, sans-serif;
    	}
    	p{
    		margin: 1.25em auto;
    		font-size: 150%;
    		max-width: 80%;
    		color: #fff;
    		text-shadow: 0 1px 1px rgba(0,0,0,0.3);
    	}
    	.btn{
    		border-radius: 100px;
		    color: #fff;
		    font-size: 100%;
		    line-height: 2.7;
		    padding: 0 2.5em;
		    font-weight: 600;
    	}
    	.btn--1{
    		background-color: #575a5b;
		    border: 1px solid #575a5b;

    	}
    	.btn--2{
		    border: 2px solid #fff;
		    color: #fff;

    	}
	}
}