.profile-cover{
	width: 100%;
    height: 250px;
    background: linear-gradient(to right, #0084bf, #0c8996);
    img{
    // position: relative;
    // left: 50%;
    // top: 50%;
    }
}
.profile-info {
	background: #fff;
	padding: 10px;
    zoom: 1;
    position: relative;
    z-index: 1;
    margin-top: -50px;
}
.profile-avatar{
	border: 4px solid #fff;
}
.pro-avatar {
    border: 1px solid #d6d6d6;
    display: inline-block;
}