.header{
  background: #fff;
  padding: 0.9rem;
  ul{background: #fff;}
  .menu li a{
    color: #333;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      color: #555;
  	}
  }
}
.Dlogo{
  display: block;
  width: 180px;
  float: left;
  margin: 0px 18px;
}
.Wlogo{
  display: none;
}