<button class="close">
0
</button>

<button class="close-button" aria-label="Close menu" type="button" data-close>
	<span class="line" aria-hidden="true"></span>
	<span class="line" aria-hidden="true"></span>
</button>


<ul class="vertical menu drawer-nav">
	<li><a href="#">One</a></li>
	<li><a href="#">Two</a></li>
	<li><%= link_to "Admin", rails_admin_path %></li>
	<li><% if user_signed_in? %>
	  <li><%= link_to current_user.username, edit_user_registration_path %>
	    <ul class="dropdown menu" data-dropdown-menu>
	      <li>
	        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	      </li>
	    </ul>
	  </li>
	  <% else %>
	  <li>
	    <%= link_to 'Login', new_user_session_path  %>
	  </li>
	  <% end %>
	</li>
</ul>
